# Built artifacts
bin/
gen/
out/
build/
app/build/

# Gradle files
.gradle/
gradlew.bat

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Android Studio files
/captures/
/local.properties
.externalNativeBuild/
.cxx/
*.jks
*.p12
*.keystore

# Artifacts and logs
.artifacts/
*.log
*.hprof

# OS files
.DS_Store
Thumbs.db

# Project specific
secrets.properties
google-services.json
